body{
    
    height: 100%;
    margin: 0;
    
}




.top-nav {
    background-color: #111111;
    overflow: hidden;
	position: fixed;
	top: 0;
    width:100%;
	margin-bottom: 40 px;
    z-index: 9999999;
}

.top-nav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}


.top-nav a:link, a:visited {
  text-decoration:none;
	color:white;
	background-color:#111111
	

}
.top-nav a:hover{
	color:#cc1906;
}
.top-nav a:active{
	font-size:16px;
	background-color:#111111;
}

.top-nav .icon{
    display: none;
}

.banner{
    background-color: black;
    padding-top: 15px;
    position: center;
    margin: auto;
    margin-top: 10px;
}


#music-release{
	margin:auto;
    margin-top: 100px;
    padding-top: 25px;
    border-top: solid 1.5px;
	position:center;
	max-width: 100%;
    
   }




#beat-store {
    margin:auto;
    margin-top: 100px;
    padding-top: 25px;
    border-top: solid 1.5px;
	position:center;
	max-width: 80%;
}

#contact {
	margin:auto;
    margin-top: 100px;
    padding-top: 25px;
    border-top: solid 1.5px;
	position:center;
    text-align: center;
	max-width: 80%;
}





/**  Will be in effect once contact form is enabled

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}
**/

#social-media {
	margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 50px;
    border-top: solid 1.5px;
	position:center;
	max-width: 80%;
}

#footer {
    background-color: #F0EDFF;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: 25px;
}

#container {
	margin: auto;
	position: center;
	width:auto;
}

#container h2 {
    color: #cc1906;
    font-family: 'Dosis', sans-serif;
    
}



/*Media Queries Responsive*/

/*Hides links on small screens*/
@media screen and (max-width:768px) {
    .top-nav a:not(:first-child) {display: none;}
    .top-nav a.icon {
        float: left;
        display: block;
    }
    
}





/*Displays links vertically on small screen*/
@media screen and (max-width: 768px) {
    .top-nav.responsive {position: fixed;}
    .top-nav.responsive a.icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    
    .top-nav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
}


//** Enlarge Pics when hovering**//

@media screen and (max-width: 768px){
    #campaign_pic{
        width: 100%    
        }

    #campaign_pic:hover{
        transform: scale(1.1)    
        }

    #crown_pic{
        width: 100%    
        }

    #crown_pic:hover{
        transform: scale(1.1)    
        }

    #civil_rights_pic{
        width: 100%            
        }

    #civil_rights_pic:hover{
        transform: scale(1.1)    
        }

}








	